body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.GridColumn td {
  background-color: blue;
  display: block;
  margin-bottom: 5px;
  width: 10px;
  height: 30px;
}

.Grid .GridColumn {
  display: inline-block;
  height: 40px;
  width: 40px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.hey {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 5px solid #e99fd6;
  box-shadow: 3px 5px 8px 0px #555;
  margin: 20px;
  background-size: contain;
  background-image:url('heman.jpg');
}

.hey:hover {
    margin: 21px 19px 19px 21px;
    border-color: #ec87d2;
    cursor: pointer;
    box-shadow: 2px 3px 7px 0px #555;
}